* {
  box-sizing: border-box;
}

html {
  font-family: "Courier New", Courier, monospace;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header {
  justify-content: space-around;
  display: flex;
  background-color: #279989;
  padding: 20px;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}

.navigation-list li {
  padding: 10px;
}
